[submodule "_external/embassy"]
	path = _external/embassy
	# Vendored fork: carries embassy-rs/embassy#6390 (public poll_next_message /
	# poll_changed) on top of the upstream pin until that PR merges upstream,
	# then revert this URL to https://github.com/embassy-rs/embassy.git
	url = https://github.com/aimdb-dev/embassy.git
[submodule "_external/mountain-mqtt"]
	path = _external/mountain-mqtt
	url = https://github.com/aimdb-dev/mountain-mqtt.git
[submodule "_external/knx-pico"]
	path = _external/knx-pico
	url = https://github.com/aimdb-dev/knx-pico.git
